<span>
 <span class="tile hidden-red"><code>0,0</code></span>
 <span class="tile hidden-red"><code>1,0</code></span>
 <span class="tile hidden-red"><code>2,0</code></span>
 <span class="tile hidden-red"><code>3,0</code></span>
 <span class="tile hidden-blue"><code>4,0</code></span>
 <span class="tile hidden-blue"><code>5,0</code></span>
 <span class="tile hidden-blue"><code>6,0</code></span>
 <span class="tile hidden-blue"><code>7,0</code></span>
</span><br>
<span>
 <span class="tile hidden-red"><code>0,1</code></span>
 <span class="tile red"><code>1,1</code></span>
 <span class="tile red"><code>2,1</code></span>
 <span class="tile red"><code>3,1</code></span>
 <span class="tile blue"><code>4,1</code></span>
 <span class="tile blue"><code>5,1</code></span>
 <span class="tile blue"><code>6,1</code></span>
 <span class="tile hidden-blue"><code>7,1</code></span>
</span><br>
<span>
 <span class="tile hidden-red"><code>0,2</code></span>
 <span class="tile red"><code>1,2</code></span>
 <span class="tile red"><code>2,2</code></span>
 <span class="tile red"><code>3,2</code></span>
 <span class="tile blue"><code>4,2</code></span>
 <span class="tile blue"><code>5,2</code></span>
 <span class="tile blue"><code>6,2</code></span>
 <span class="tile hidden-blue"><code>7,2</code></span>
</span><br>
<span>
 <span class="tile hidden-red"><code>0,3</code></span>
 <span class="tile red"><code>1,3</code></span>
 <span class="tile red"><code>2,3</code></span>
 <span class="tile red"><code>3,3</code></span>
 <span class="tile blue"><code>4,3</code></span>
 <span class="tile blue"><code>5,3</code></span>
 <span class="tile blue"><code>6,3</code></span>
 <span class="tile hidden-blue"><code>7,3</code></span>
</span><br>
<span>
 <span class="tile hidden-red"><code>0,4</code></span>
 <span class="tile hidden-red"><code>1,4</code></span>
 <span class="tile hidden-red"><code>2,4</code></span>
 <span class="tile hidden-red"><code>3,4</code></span>
 <span class="tile hidden-blue"><code>4,4</code></span>
 <span class="tile hidden-blue"><code>5,4</code></span>
 <span class="tile hidden-blue"><code>6,4</code></span>
 <span class="tile hidden-blue"><code>7,4</code></span>
</span><br>
