<% _type = "verbose" %>
<% _type = locals[:type] unless locals[:type] == nil %>

<% _current_class = load_json_data( Dir.pwd + locals[:file] ) %>
<% _subclass = nil %>

<% if locals[:subclass].present? %>
    <% _subclass = load_json_data( Dir.pwd + locals[:subclass] ) %>
    
    <% if _subclass["superclass"].eql? _current_class["name"] %>
        <% _current_class["class_name"] = _subclass["name"] %>
        <% _current_class["lua_class_name"] = _subclass["lua_class_name"] %>
        <% _current_class["variable_text"] = _subclass["variable_text"] %>
        <% _current_class["subdirectory"] = _subclass["subdirectory"] %>
        <% _current_class["conditionals"] = _subclass["conditionals"] %>
    <% else %>
        <% puts "ERROR: superclass #{ _subclass["superclass" ]} does not match name of base class #{ _current_class["name"] }." %>
    <% end %>
    
<% end %>

<% _substitute_text = {} %>
<% _substitute_text[:doc_class_name] = _current_class["class_name"] %>
<% _substitute_text[:lua_class_name] = _current_class["lua_class_name"] or _current_class["class_name"] %>
<% _substitute_text[:variable_text] = _current_class["variable_text"] %>

<% _layout_root = "includes/layout/" + _type + "/" %>

<%# ENUM MEMBERS %>
<% if not is_empty( _current_class[ "items" ] ) %>
<table>
    <thead>
        <tr>
            <th>NAME</th>
            <th>MEANING</th>
        </tr>
    </thead>
    <tbody>
        <% _current_class["items"].each do |item| %>
            <% _item_name = preprocess_json_data( item["name"], _substitute_text ) %>
            <% _lines = preprocess_json_data( item["meaning"], _substitute_text ) %>

            <%= partial "/includes/layout/fragment/table_line.md.erb", locals: { name: _item_name, desc: _lines } %>
        <% end %>
    </tbody>
</table>
<% end %>

<%# PROPERTIES %>
<% if not is_empty( _current_class["properties"] ) %>
    <% _property_root = "/data/" + _current_class["subdirectory"] + "/properties/" %>
    
    <% _current_class["properties"].each do |property| %>        
        <% if _current_class["conditionals"].nil? or property["conditional"].nil?
            (_current_class["conditionals"] || [""] ).include? property["name"] %>

            <% _property_data = load_json_data( Dir.pwd + "" + _property_root + property["name"] + ".json" ) %>
            <% _property_data = preprocess_json_data( _property_data, _substitute_text ) %>

            <%= partial _layout_root + "property_layout.md.erb", locals: { f: _property_data, c: _current_class } -%>                    
        <% end%>
    <% end %>
<% end %>

<%# FUNCTIONS %>
<% if not is_empty( _current_class["functions"] ) %>
    <% _func_root = "/data/" + _current_class["subdirectory"] + "/functions/" %>
    
    <% _current_class["functions"].each do |func| %>
        <% if _current_class["conditionals"].nil? or func["conditional"].nil? or
            (_current_class["conditionals"] || [""]).include? func["name"] %>
            <% _func_data = load_json_data( Dir.pwd + "" + _func_root + func["name"] + ".json" ) %>
            <% _func_data = preprocess_json_data( _func_data, _substitute_text ) %>

            <%= partial _layout_root + "function_layout.md.erb", locals: { f: _func_data, c: _current_class } -%>
        <% end%>
    <% end %>
<% end %>

<%# CALLBACKS %>
<% if not is_empty( _current_class["callbacks"] ) %>
    <% _callback_root = "/data/" + _current_class["subdirectory"] + "/callbacks/" %>
    
    <% _current_class["callbacks"].each do |callback| %>
        <% if _current_class["conditionals"].nil? or callback["conditional"].nil? or
            (_current_class["conditionals"] || [""] ).include? callback["name"] %>

            <% _callback_data = load_json_data( Dir.pwd + "" + _callback_root + callback["name"] + ".json" ) %>
            <% _callback_data = preprocess_json_data( _callback_data, _substitute_text ) %>

            <%= partial _layout_root + "callback_layout.md.erb", locals: { f: _callback_data, c: _current_class } -%>
        <% end%>
    <% end %>
<% end %>