<% @link_entity="<a href=\"/api/#entity\"><b><code>Entity</code></b></a>" %>
<% @link_character="<a href=\"/api/#character\"><b><code>Character</code></b></a>" %>
<% @link_scripted_character="<a href=\"/api/#scriptedcharacter\"><b><code>ScriptedCharacter</code></b></a>" %>
<% @link_player="<a href=\"/api/#player\"><b><code>Player</code></b></a>" %>
<% @link_scripted_player="<a href=\"/api/#scriptedplayer\"><b><code>ScriptedPlayer</code></b></a>" %>

<% @link_field="<a href=\"/api/#field\"><b><code>Field</code></b></a>" %>
<% @link_card_action="<a href=\"/api/#cardaction\"><b><code>CardAction</code></b></a>" %>
<% @link_hit_props="<a href=\"/api/#hitprops\"><b><code>HitProps</code></b></a>" %>

<% @link_tile="<a href=\"/api/#tile\"><b><code>Tile</code></b></a>" %>
<% @link_tile_ptr="<a href=\"/api/#tile\"><b><code>Tile*</code></b></a>" %>

<% @link_action_order="<a href=\"/api/#actionorder\"><b><code>ActionOrder</code></b></a>" %>
<% @link_add_entity_status="<a href=\"/api/#addentitystatus\"><b><code>AddEntityStatus</code></b></a>" %>
<% @link_card_class="<a href=\"/api/#cardclass\"><b><code>CardClass</code></b></a>" %>
<% @link_direction="<a href=\"/api/#direction\"><b><code>Direction</code></b></a>" %>
<% @link_element="<a href=\"/api/#element\"><b><code>Element</code></b></a>" %>
<% @link_highlight="<a href=\"/api/#highlight\"><b><code>Highlight</code></b></a>" %>
<% @link_team="<a href=\"/api/#team\"><b><code>Team</code></b></a>" %>
<% @link_tile_state="<a href=\"/api/#tilestate\"><b><code>TileState</code></b></a>" %>

<% @link_defense_rule="<a href=\"/api/#defenserule\"><b><code>DefenseRule</code></b></a>" %>
