<%# eRB is FAR too literal with interpreting whitespace outside of angle brackets.
    This is an ugly hack but it works.
%><% locals[:bold] = true if locals[:bold].nil? 
  %><% locals[:code] = true if locals[:code].nil? 
  %><%= "<a href=\"" + config[:path_prefix] + locals[:target] + "\">"
  %><% if locals[:bold] %><b><% end
  %><% if locals[:code] %><code><% end
  %><%= locals[:text] ||= "LINK_TEXT"
  %><% if locals[:code] %></code><% end
  %><% if locals[:bold] %></b><% end
%><%= "</a>" %>
