<% @link_entity="<a href=\"" + config[:path_prefix] + "api/#entity\"><b><code>Entity</code></b></a>" %>
<% @link_character="<a href=\"" + config[:path_prefix] + "api/#character\"><b><code>Character</code></b></a>" %>
<% @link_scripted_character="<a href=\"" + config[:path_prefix] + "api/#scriptedcharacter\"><b><code>ScriptedCharacter</code></b></a>" %>
<% @link_player="<a href=\"" + config[:path_prefix] + "api/#player\"><b><code>Player</code></b></a>" %>
<% @link_scripted_player="<a href=\"" + config[:path_prefix] + "api/#scriptedplayer\"><b><code>ScriptedPlayer</code></b></a>" %>

<% @link_field="<a href=\"" + config[:path_prefix] + "api/#field\"><b><code>Field</code></b></a>" %>
<% @link_card_action="<a href=\"" + config[:path_prefix] + "api/#cardaction\"><b><code>CardAction</code></b></a>" %>
<% @link_hit_props="<a href=\"" + config[:path_prefix] + "api/#hitprops\"><b><code>HitProps</code></b></a>" %>

<% @link_tile="<a href=\"" + config[:path_prefix] + "api/#tile\"><b><code>Tile</code></b></a>" %>
<% @link_tile_ptr="<a href=\"" + config[:path_prefix] + "api/#tile\"><b><code>Tile*</code></b></a>" %>

<% @link_action_order="<a href=\"" + config[:path_prefix] + "api/#actionorder\"><b><code>ActionOrder</code></b></a>" %>
<% @link_add_entity_status="<a href=\"" + config[:path_prefix] + "api/#addentitystatus\"><b><code>AddEntityStatus</code></b></a>" %>
<% @link_card_class="<a href=\"" + config[:path_prefix] + "api/#cardclass\"><b><code>CardClass</code></b></a>" %>
<% @link_direction="<a href=\"" + config[:path_prefix] + "api/#direction\"><b><code>Direction</code></b></a>" %>
<% @link_element="<a href=\"" + config[:path_prefix] + "api/#element\"><b><code>Element</code></b></a>" %>
<% @link_highlight="<a href=\"" + config[:path_prefix] + "api/#highlight\"><b><code>Highlight</code></b></a>" %>
<% @link_team="<a href=\"" + config[:path_prefix] + "api/#team\"><b><code>Team</code></b></a>" %>
<% @link_tile_state="<a href=\"" + config[:path_prefix] + "api/#tilestate\"><b><code>TileState</code></b></a>" %>

<% @link_defense_rule="<a href=\"" + config[:path_prefix] + "api/#defenserule\"><b><code>DefenseRule</code></b></a>" %>
