---
title: OpenNetBattle Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - lua

includes:
  - filestructure.md.erb
  - command_line.md.erb

search: true

code_clipboard: true

meta:
  - name: OpenNetBattle
    content: Documentation for the OpenNetBattle Engine
---

# Introduction

Welcome to the **OpenNetBattle** engine!

Documentation for this engine is a heavy work-in-progress!<br>
The engine supports custom user content through **Lua**, this is what the documentation covers.

You can check out any developments <a href='https://github.com/TheMaverickProgrammer/OpenNetBattle'>on the GitHub page</a>!