---
title: OpenNetBattle Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - lua

toc_footers:
  - <a href='https://github.com/TheMaverickProgrammer/OpenNetBattle'>OpenNetBattle @ GitHub</a>
  - <a href='https://github.com/protoBASILISK/OpenNetBattleDocs'>OpenNetBattle Docs @ GitHub</a>
  - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

includes:
  - filestructure.md

search: true

code_clipboard: true

meta:
  - name: OpenNetBattle
    content: Documentation for the OpenNetBattle Engine
---

# Introduction

Welcome to the **OpenNetBattle** engine!

Documentation for this engine is a heavy work-in-progress!<br>
The engine supports custom user content through **Lua**, this is what the documentation covers.

You can check out any developments <a href='https://github.com/TheMaverickProgrammer/OpenNetBattle'>on the GitHub page</a>!
